
practice/data/777_SocaMotivePractice_2019_Mar_12_1051_1A.psydat
practice/data/777_SocaMotivePractice_2019_Mar_12_1051_1A.log
practice/data/777_SocaMotivePractice_2019_Mar_12_1051_1A.csv
conditions/SocaMRIConditions_Version1A_Run1.xlsx
conditions/SocaMRIConditions_Version1A_Run2.xlsx
logs/Rej_09/subRej_09_Rej_Discount-Ratings-1.csv
logs/sub_Rej_Discount-Ratings-.csv
practice/SocaMRI_DF_lastrun.py
practice/SocaMRI_lastrun.py
conditions/SocaMRIConditions_Version1A_Run1.xlsx
